# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
myenv/
venv/
env/

# Environment variables
.env

# Streamlit
.streamlit/

# SQLite databases
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code / IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Python packaging
build/
dist/
*.egg-info/